*{
    margin: 0;
    padding: 0;
    text-align: center;
 
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}
 
 .choice{
    height: 165px;
    width: 165px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
 }
 img{
    height: 150px;
    width: 145px;
    object-fit: cover;
    border-radius: 67rem;
    background-color: rgb(55, 0, 255);
    align-items: center;
    }
 .choices{
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 5rem;
    
    
 }
 .choice:hover{
    cursor: pointer;
     
    background-color: rgb(11, 238, 49);
 }
 .score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 3rem;
    margin-top: 3rem;
 }
 .message-container{
    margin-top: 2rem;
 }
 #msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 2rem;
 }